ul,ol,li, a, input, textarea{
  all: unset;
}

img{
  max-width: 100%;
}

:root{
  --dark: rgb(44, 62, 80);
  --green: rgb(26,188,156);
  --dark-light: rgb(58, 84, 109);
}

/*UTILITIES*/
.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.item-center{
  align-items: center;
}



/*PAGE HEADER*/
.page-header{
  background-color: var(--dark);
  color: white;
  padding: 40px 0;
}

.logo{
  text-transform: uppercase;
}

.menu{
  gap: 22px;
  justify-content: flex-end;
}

.menu__item{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.link-header-dekstop{
  display: none;
}

/* SECTION HERO*/

.hero{
  background-color: var(--green);
  color: white;
}

.logo-hero{
  width: 300px;
}

.icon-star{
  font-size: 30px;
  position: relative;
  padding: 0 20px;
}

.author-description{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.icon-star:before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  border-radius: 999px;
  background: white;
  left: 100%;
  top: 50%;
  position: absolute;
}

.icon-star:after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  border-radius: 999px;
  background: white;
  right: 100%;
  top: 50%;
  position: absolute;
}

/* SECTION PORTFOLIO*/
.title-portfolio{
  text-transform: uppercase;
  padding: 30px 0;
}

.icon-star__portfolio{
  font-size: 30px;
  position: relative;
  padding: 0 20px;
}

.icon-star__portfolio:before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  border-radius: 999px;
  background: black;
  left: 100%;
  top: 50%;
  position: absolute;
}

.icon-star__portfolio:after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  border-radius: 999px;
  background: black;
  right: 100%;
  top: 50%;
  position: absolute;
}

.card-image{
  border-radius: 20px;
}

/*SECTION ABOUT*/
.about{
  background-color: var(--green);
  margin: 30px 0px;
  color: white;
}
.title-about{
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-top: 80px;
}

.icon-about{
  padding: 20px 0px;
}

.btn{
  line-height: 40px;
  padding: 0 18px;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
}

.about-btn{
  padding: 10px 0 50px;
}

/*SECTION CONTACT*/

.title-contact{
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.contact__input{
  padding: 10px 0;
  border-bottom: 1px solid grey;
}

form > p{
  padding: 10px 0;
  color: grey;
}


/*FOOTER INFORMATION*/

.footer__information{
  background-color: var(--dark-light);
  margin-top: 50px;
}

.footer-title{
  font-size: 30px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.footer-things{
  color: white;
  font-size: 25px;
  text-align: center;
}

.footer-things > span{
  color: var(--green);
}

.copyright{
  background-color: var(--dark);
  padding: 50px;
  color: white;
  text-align: center;
}



/*MEDIA QUERY*/

@media (min-width: 576px) {
}

@media (min-width: 768px) { 
  .link-header-mobile{
    display: none;
  }

  .link-header-dekstop{
    display: block;
  }

}


@media (min-width: 992px) { 
  .author-description{
    font-size: 30px;
  }

  .icon-star:before {
    content: "";
    display: block;
    width: 180px;
    height: 4px;
    border-radius: 999px;
    background: white;
    left: 100%;
    top: 50%;
    position: absolute;
  }
  
  .icon-star:after {
    content: "";
    display: block;
    width: 180px;
    height: 4px;
    border-radius: 999px;
    background: white;
    right: 100%;
    top: 50%;
    position: absolute;
  }

  /*SECTION PORTFOLIO*/
  .icon-star__portfolio:before {
    content: "";
    display: block;
    width: 180px;
    height: 4px;
    border-radius: 999px;
    background: black;
    left: 100%;
    top: 50%;
    position: absolute;
  }
  
  .icon-star__portfolio:after {
    content: "";
    display: block;
    width: 180px;
    height: 4px;
    border-radius: 999px;
    background: black;
    right: 100%;
    top: 50%;
    position: absolute;
  }
}


@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }